<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

<!--  <property name="stdLoggingPattern" value="%date{ISO8601} ${TIMEZONE} %highlight(%-6level) %magenta(%pid) -&#45;&#45; [%-10.10t] %cyan(%20.20file:%3.3line) : %msg %mdc%n %ex{full}"/>-->
  <property name="stdLoggingPattern" value="%date{ISO8601} %highlight(%-6level) --- [%-10.10t] %cyan(%20.20file:%3.3line) : %msg %mdc%n %ex{full}"/>

  <!-- Standard Output -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>${stdLoggingPattern}</Pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout"/>
  </root>
</configuration>